<%= stylesheet_link_tag 'home' %>

<%= render 'shared/navbar' %>
<div class="container mt-5 px-0">
<!-- Main Content -->
    <!-- Gwangju Map -->
    <div class="location" id="gwangjuStatus"></div>
    <div class="card mb-4">
        <div class="card-header">
            <h6>국내 확진자 수 증가추이</h6>
        </div>
        <div class="card-body text-center">
            <h6>한국 확진자 그래프가 들어갈곳</h6>
            <div class="card-text"></div>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <h6>광주 현황</h6>
        </div>
        <div class="card-body text-center">
            <h6>광주 확진자 지도가 들어갈곳</h6>
            <div class="card-text"></div>
        </div>
    </div>
    <!-- Gwangju Policy -->
    <div class="location" id="gwangjuPolicy"></div>
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="container mb-4 px-0">
                <div class="text-center mt-3 mb-4">
                    <h4>공지사항</h4>
                </div>
                <div class="container-fluid px-0">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="card mb-4">
                <div class="card-header d-flex d-flex-row-align-items-center justify-content-between">
                    <h6>코로나 관련 긴급 지원사업</h6>
                </div>
                <div class="card-body text-center">
                    <div class="card-text">
                        <div class="container">
                            <%= image_tag 'policy-1.jpg' %>
                            <%= image_tag 'policy-2.jpg' %>
                        </div>
                        <div class="container mt-3" id="support_links">
                            <a class="btn btn-light btn-block" href="https://blog.naver.com/dodreamgj/221868427852" target="_blank" title="새창으로 이동">긴급생계자금 지원사업</a>
                            <a class="btn btn-light btn-block" href="https://www.gwangju.go.kr/contentsView.do?pageId=www453" target="_blank" title="새창으로 이동">광주광역시 복지 지원사업</a>
                            <a class="btn btn-light btn-block" href="http://www.bizinfo.go.kr/see/seea/selectSEEA140Detail.do?menuId=80001001001&pblancId=PBLN_000000000051543" target="_blank" title="새창으로 이동">광주광역시 소상공인 지원사업</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12">
            <div class="container mb-4 px-0">
                <div class="text-center mt-3 mb-4">
                    <h4>업데이트 현황</h4>
                </div>
                <div class="container-fluid px-0">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Mask Pharmacy -->
    <div class="location" id="maskPharmacy"></div>
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h6>마스크 판매처</h6>
                </div>
                <div class="card-body text-center">
                    <div class="card-text">
                        <div class="container col-md-10">
                            <label for="pharmacy_address">마스크 판매처 조회</label>
                            <input type="text" name="pharmacy_address" class="form-control" id="pharmacy_address">
                            <small>예) 울산광역시 남구 수암로 132 1층 </small>
                            <div class="mt-4">
                                <button type="submit" class="btn-block btn btn-outline-secondary">조회하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h6>마스크 5부제</h6>
                </div>
                <div class="card-body text-center">
                    <div class="card-text">
                        <div class="row py-3">
                            <div class="col-xl-6 col-lg-12">
                                <table class="table">
                                    <caption class="small left">ex) 1994년생 | 목요일 </caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">출생연도 끝자리</th>
                                            <th scope="col">요일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" class="mon">1, 6</th>
                                            <td class="mon">월요일</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="tue">2, 7</th>
                                            <td class="tue">화요일</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="wed">3, 8</th>
                                            <td class="wed">수요일</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="thu">4, 9</th>
                                            <td class="thu">목요일</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="fri">5, 0</th>
                                            <td class="fri">금요일</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="weekend">
                                                <div class="container px-2">출생년도 관계없이 평일에 구입하지 못한 사람 구매</div>
                                            </th>
                                            <td  class="weekend">주말(토, 일)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xl-6 col-lg-12 mt-5">
                                <div class="col-sm-12 mb-5 text-left">
                                    <h3 class="text-bold">마스크 직접 구매</h3>
                                    운전면허증, 주민등록증, 여권 등의 신분증을 지참
                                </div>
                                <div class="col-sm-12 text-left">
                                    <h3 class="text-bold">마스크 대리 구매</h3>
                                    <div>주민등록등본상 동거인이 5부제 해당 요일에 대리 구매 가능</div>
                                    <div>본인 신분증과 대상자가 병기된 주민등록등본 지참</div>
                                    <div>대상 : 2010년 이후 출생한 어린이, 1940년 이전 출생한 80살 이상 노인, 장기요양급여 수급자, 장애인 등</div>
                                    <div>구입처 : 약국(3월 9일부터) / 우체국, 농협, 하나로마트(3월 16일부터)</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quarantine Status -->
    <div class="location" id="quarantineStatus"></div>
    <div class="card mb-4">
        <div class="card-header">
            <div class="d-flex d-flex-row-align-items-center justify-content-between quarantine">
                <h6 class="quarantine">방역 상황</h6>
                <a class="text-dark" href="https://www.gwangju.go.kr/contentsView.do?pageId=www834" title="큰 창으로 보기" target="_blank"><i class="fa fa-external-link"></i></a>
            </div>
        </div>
        <div class="card-body text-center">
            <div class="card-text">
                <div class="nav-responsive">
                    <ul class="nav nav-tabs mx-auto my-0" id="nav-tab" role="tablist">
                        <li class="nav-item"><a class="nav-link active" id="dong-tab" data-toggle="tab" href="#dong" role="tab" aria-controls="dong" aria-selected="false"><h6 class="small">동구</h6></a></li>
                        <li class="nav-item"><a class="nav-link" id="seo-tab" data-toggle="tab" href="#seo" role="tab" aria-controls="seo" aria-selected="false"><h6 class="small">서구</h6></a></li>
                        <li class="nav-item"><a class="nav-link" id="nam-tab" data-toggle="tab" href="#nam" role="tab" aria-controls="nam" aria-selected="false"><h6 class="small">남구</h6></a></li>
                        <li class="nav-item"><a class="nav-link" id="buk-tab" data-toggle="tab" href="#buk" role="tab" aria-controls="buk" aria-selected="false"><h6 class="small">북구</h6></a></li>
                        <li class="nav-item"><a class="nav-link" id="gwangsan-tab" data-toggle="tab" href="#gwangsan" role="tab" aria-controls="gwangsan" aria-selected="false"><h6 class="small">광산구</h6></a></li>
                    </ul>
                </div>
                <div class="table-responsive">
                    <div class="tab-content" id="navTabcontent">
                        <!-- 동구 -->
                        <div class="tab-pane fade show active" id="dong" role="tabpanel" aria-labelledby="dong-tab">
                            <table class="table table-bordered">
                                <caption class="small">
                                    <span>동구 확진자 동선 방역 현황</span>
                                </caption>
                                <thead>
                                    <th>시설구분</th>
                                    <th>시설명</th>
                                    <th>시설주소</th>
                                    <th>방열일(1단계)</th>
                                    <th>방역일(2단계)</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>기타</td>
                                        <td>학동우체국ATM</td>
                                        <td>동구 제봉로 31</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기타</td>
                                        <td>학운동주민센터</td>
                                        <td>동구 의재로 53</td>
                                        <td>2020. 03. 04.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>공공기관</td>
                                        <td>광주우체국</td>
                                        <td>동구 제봉로 211</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>공동주택</td>
                                        <td>삼익세라믹아파트</td>
                                        <td>동구 학동</td>
                                        <td>2020. 03. 05.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>마트</td>
                                        <td>홈플러스 계림점</td>
                                        <td>동구 무등로 314</td>
                                        <td>2020. 02. 21</td>
                                        <td>자체소독, 위탁소독</td>
                                    </tr>
                                    <tr>
                                        <td>백화점</td>
                                        <td>롯데백화점 별관주차장</td>
                                        <td>동구 독립로 268</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>묵소</td>
                                        <td>동구 서석로 34-3</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>12베이커리</td>
                                        <td>동구 문화전당로 31-1</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>의료기관</td>
                                        <td>강남요양병원</td>
                                        <td>동구 남문로 622</td>
                                        <td>2020. 03. 04.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>제과점</td>
                                        <td>동명빵짐</td>
                                        <td>동구 동계천로 157-1</td>
                                        <td>2020. 02. 23</td>
                                        <td>자체소독, 위탁소독</td>
                                    </tr>
                                </tbody>
                                <caption class="small caption-side-bottom">
                                    <span>출처 : 광주광역시청 사이트 복지분야 코로나바이러스감염증-19</span>
                                </caption>
                            </table>
                        </div>
                        <!-- 서구 -->
                        <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="seo-tab">
                            <table class="table table-bordered">
                                <caption class="small">
                                    <span>서구 확진자 동선 방역 현황</span>
                                </caption>
                                <thead>
                                    <th>시설구분</th>
                                    <th>시설명</th>
                                    <th>시설주소</th>
                                    <th>방열일(1단계)</th>
                                    <th>방역일(2단계)</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>기타</td>
                                        <td>엔탑피시방</td>
                                        <td>서구 운천로 69</td>
                                        <td>2020. 02. 25.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>관공서</td>
                                        <td>서구청</td>
                                        <td>서구 경열로 33</td>
                                        <td>2020. 02. 21.</td>
                                        <td>일 2회 자체소독</td>
                                    </tr>
                                    <tr>
                                        <td>대중교통</td>
                                        <td>화순교통 차고지 및 버스</td>
                                        <td>서구 유덕로 144</td>
                                        <td>2020. 03. 04.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>텐토</td>
                                        <td>서구 운천로 247</td>
                                        <td>2020. 02. 21.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>이삭토스트</td>
                                        <td>서구 풍암중앙로 55</td>
                                        <td>2020. 02. 23.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>88켄터키치킨 풍암점</td>
                                        <td>서구 풍금로 15-1</td>
                                        <td>2020. 03. 08.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>의료기관</td>
                                        <td>메디팜큰사랑약국</td>
                                        <td>서구 풍암중앙로 55</td>
                                        <td>2020. 02. 23.</td>
                                        <td>매일 자체소독</td>
                                    </tr>
                                </tbody>
                                <caption class="small caption-side-bottom">
                                    <span>출처 : 광주광역시청 사이트 복지분야 코로나바이러스감염증-19</span>
                                </caption>
                            </table>
                        </div>
                        <!-- 남구 -->
                        <div class="tab-pane fade" id="nam" role="tabpanel" aria-labelledby="nam-tab">
                            <table class="table table-bordered">
                                <caption class="small">
                                    <span>남구 확진자 동선 방역 현황</span>
                                </caption>
                                <thead>
                                    <th>시설구분</th>
                                    <th>시설명</th>
                                    <th>시설주소</th>
                                    <th>방열일(1단계)</th>
                                    <th>방역일(2단계)</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>공공기관</td>
                                        <td>주월1동 주민센터</td>
                                        <td>남구 주월1동</td>
                                        <td>2020. 03. 08.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>교회</td>
                                        <td>광주양림교회</td>
                                        <td>남구 백서로73(계단교회)</td>
                                        <td>2020. 03. 01.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>교회</td>
                                        <td>양림교회</td>
                                        <td>남구 백서로 73</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기타</td>
                                        <td>블랑PC방</td>
                                        <td>남구 서문대로 700</td>
                                        <td>2020. 03. 08</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기타</td>
                                        <td>세영운수 7번, 12번 버스</td>
                                        <td>남구 송암동</td>
                                        <td>2020. 02. 27.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기타</td>
                                        <td>아이리스팝피시방(방림점)</td>
                                        <td>남구 봉선동</td>
                                        <td>2020. 02. 21.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기타</td>
                                        <td>을로운수 55번 버스</td>
                                        <td>남구 송암동</td>
                                        <td>2020. 02. 27.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기타</td>
                                        <td>월산동 학습관</td>
                                        <td>남구 금화로 440번길</td>
                                        <td>2020. 02. 21.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>기타</td>
                                        <td>SH 빌딩</td>
                                        <td>남구 서문대로 824번길</td>
                                        <td>2020. 02. 21.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>마트</td>
                                        <td>마트로마트</td>
                                        <td>남구 양림동</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>병의원</td>
                                        <td>굿모닝내과</td>
                                        <td>남구 봉선2로 53</td>
                                        <td>2020. 03. 04.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>병의원</td>
                                        <td>대한의학과의원</td>
                                        <td>남구 서문대로 710</td>
                                        <td>2020. 03. 04.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>병의원</td>
                                        <td>빛고을전남대학교병원</td>
                                        <td>남구 덕남길 80</td>
                                        <td>2020. 03. 04.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>소요</td>
                                        <td>남구 주월동</td>
                                        <td>2020. 02. 21.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>최가박당</td>
                                        <td>남구 백운동</td>
                                        <td>2020. 02. 21.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>사계진미숯불닭갈비</td>
                                        <td>남구 봉선동</td>
                                        <td>2020. 02. 21.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>파리바게트(방림점)</td>
                                        <td>남구 봉선동</td>
                                        <td>2020. 02. 04.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>마왕족발</td>
                                        <td>남구 봉선동</td>
                                        <td>2020. 02. 24.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>뚜에이오</td>
                                        <td>남구 주월동</td>
                                        <td>2020. 02. 24.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>음식점</td>
                                        <td>르시엘블루</td>
                                        <td>남구 주월동</td>
                                        <td>2020. 02. 23.</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>편의점</td>
                                        <td>세븐일레븐</td>
                                        <td>남구 백서로 76</td>
                                        <td>2020. 03. 02.</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <caption class="small caption-side-bottom">
                                    <span>출처 : 광주광역시청 사이트 복지분야 코로나바이러스감염증-19</span>
                                </caption>
                            </table>
                        </div>
                        <!-- 북구 -->
                        <div class="tab-pane fade" id="buk" role="tabpanel" aria-labelledby="buk-tab">
                            <table class="table table-bordered">
                                <caption class="small">
                                    <span>북구 확진자 동선 방역 현황</span>
                                </caption>
                                <thead>
                                    <th>시설구분</th>
                                    <th>시설명</th>
                                    <th>시설주소</th>
                                    <th>방열일(1단계)</th>
                                    <th>방역일(2단계)</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>기타</td>
                                        <td>중흥헬스</td>
                                        <td>북구 중흥동</td>
                                        <td>2020. 02. 24.</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                <caption class="small caption-side-bottom">
                                    <span>출처 : 광주광역시청 사이트 복지분야 코로나바이러스감염증-19</span>
                                </caption>
                            </table>
                        </div>
                        <!-- 광산구 -->
                        <div class="tab-pane fade" id="gwangsan" role="tabpanel" aria-labelledby="gwangsan-tab">
                            <table class="table table-bordered">
                                <caption class="small">
                                    <span>광산구 확진자 동선 방역 현황</span>
                                </caption>
                                <thead>
                                    <th>시설구분</th>
                                    <th>시설명</th>
                                    <th>시설주소</th>
                                    <th>방열일(1단계)</th>
                                    <th>방역일(2단계)</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>기타</td>
                                        <td>메가MCG커피 광주송정역점</td>
                                        <td>광산구 상무대로 207</td>
                                        <td>2020. 02. 02.</td>
                                        <td>자체소독, 위탁소독</td>
                                    </tr>
                                    <tr>
                                        <td>대중교통</td>
                                        <td>광주송정역</td>
                                        <td>광산구 상무대로 201</td>
                                        <td>2020. 02. 05.</td>
                                        <td>매일 소독</td>
                                    </tr>
                                </tbody>
                                <caption class="small caption-side-bottom">
                                    <span>출처 : 광주광역시청 사이트 복지분야 코로나바이러스감염증-19</span>
                                </caption>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Donate Support -->
    <div class="location" id="donateSupport"></div>
    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h6>네이버 기부현황</h6>
                </div>
                <div class="card-body text-center">
                    <h6>네이버 기부현황</h6>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h6>카카오 기부현황</h6>
                </div>
                <div class="card-body text-center">
                    <h6>카카오 기부현황</h6>
                    <div class="card-text"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/footer' %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<%= javascript_include_tag 'home' %>